# Environment
NODE_ENV=development

# Server
PORT=9000

# MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=crown_co

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
